---
title: Organizations
layout: default
permalink: /organizations/
---
{% include breadcrumbs.html %}

{% for organization in site.organizations %}
  {% assign dataset_count = site.datasets | where:"organization", organization.title | size %}
  <row>
      <div class="col-sm-9">
          <div class="media-body">
              <h3 class="media-heading"><a href="{{ site.baseurl }}{{ organization.url }}">{{ organization.title }}</a></h3>
              <p><a href="{{ site.baseurl }}/datasets/?organization={{ organization.title | slugify }}">{{ dataset_count }} datasets</a></p>
              <p>{{ organization.description }}</p>
              <br />
          </div>
      </div>
  
  {% if organization.logo and organization.logo != empty %}
      <div class="col-sm-3">
          <div class="org-media">
                  <a href="{{ site.baseurl }}{{ organization.url }}" class="organization-thumbnail">
                      <img class="org-logo" src="{{ organization.logo }}" alt="{{ organization.title }}">
                  </a>
          </div>
      </div>
    </row>
    <hr />
  {% endif %}
{% endfor %}