<div class="col-sm-12">
    <label for="{{ include.field_name }}[]" style="font-size: 15px; font-weight: 400;">{{ include.field.label }}</label>
    
    <div class="form-group" style="margin-bottom: 15px;">
        
        <select class="form-control select2" id="{{ include.field_name }}[]" name="{{ include.field_name }}[]" multiple="multiple" style="width: 100%; border: none;">
            {% for category in site.data.categories %}
        <option{% if include.value == category.name or include.value contains category.name %} selected="selected"{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </select>
      
  </div>
</div>
<style>
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        padding-top:10px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice { 
        min-height: 20px;
    }
    
</style>
    