<div class="col-sm-12">
    <div class="form-group">
        
            <select class="form-control" id="{{ include.field_name }}" name="{{ include.field_name }}">
                <option value=""></option>
                    {% for value in field.values %}
                    <option{% if include.value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
            </select>
            <label for="{{ include.field_name }}">{{ include.field.label }}</label>
    </div>
</div>