<div class="col-sm-12">
    <div class="form-group">
        <select class="form-control" id="{{ include.field_name }}" name="{{ include.field_name }}">
            <option value=""></option>
            {% for value in site.data.licenses %}
            <option{% if include.value == value[0] %} selected="selected"{% endif %} value="{{ value[0] }}">{{ value[1] }}</option>
        {% endfor %}
      </select>
      <label for="{{ include.field_name }}">{{ include.field.label }}</label>
      
</div>
  <div class="alert">Not sure what license to use? See <a href="http://licenses.opendefinition.org/">http://licenses.opendefinition.org/</a></div>

</div>