
            <!-- Subscribe 6
            ==================================================================== -->
            <div id="subscribe-section-6" class="subscribe-section black-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Background Image Block -->
                    <div class="background-image-block parallax-effect gfort-background">
                        <img src="images/cta/cta-004.jpg" alt="Parallax Background" style="top: -319px; transform: translate(-50%, 0px);">
                    </div><!-- /End Background Image Block -->


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-4 col-md-5 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container white-content">

                                    <!-- Title -->
                                    <h2>SUBSCRIBE NOW AND STAY INFORMED</h2>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- Subscribe Form Block -->
                            <div class="col-lg-8 col-md-7 form-block subscribe-form-block">
                                <!-- Form Block Container -->
                                <div class="form-block-container white-content">
                                    <form method="post" action="#" id="gfort-mailchilmp-0" novalidate="true">

                                        <!-- Email -->
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="email" class="form-control subscribe-email" name="EMAIL">
                                                <label>Email address</label>
                                            </div>
                                        </div><!-- /End Email -->

                                        <!-- Submit Button -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-gfort wave-effect">SUBSCRIBE</button>
                                            </div>
                                        </div><!-- /End Submit Button -->

                                    </form>
                                </div><!-- /End Form Block Container-->
                            </div><!-- /End Subscribe Form Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Subscribe 6 -->
        