<!-- general behavior -->


<footer id="footer-section-7" class="footer-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Widget Block ( Text ) -->
                            <div class="col-md-12 widget-block text-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container text-center">


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">

                                        <!-- Logo -->
                                        <a href="#" class="navbar-brand" title="LUNE">
                                            <img src="/images/logo.png" alt="LUNE Logo">
                                        </a><!-- /End Logo -->

                                        <!-- Title -->
                                        <h5>is something special<br>to save your time and money</h5>

                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                            <!-- Widget Block ( Text ) -->
                            <div class="col-md-12 widget-block text-widget-block">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container text-center">


                                    <!-- Widget Block Content -->
                                    <div class="widget-block-content">


                                        <!-- Info Block -->
                                        <div class="info-block">
                                            <!-- Info Block Container -->
                                            <div class="info-block-container">
                                                <a href="tel:+11234567890" title="+1 123 456-7890" class="main-link">

                                                    <!-- Icon -->
                                                    <i class="fa fa-phone circle-icon-block circle-icon-block-md"></i>

                                                    <!-- Description -->
                                                    <p>+1 123 456-7890</p>

                                                </a>
                                            </div><!-- /End Info Block Container -->
                                        </div><!-- /End Info Block -->


                                        <!-- Info Block -->
                                        <div class="info-block">
                                            <!-- Info Block Container -->
                                            <div class="info-block-container">
                                                <a href="mailto:support@example.com" title="support@example.com" class="main-link">

                                                    <!-- Icon -->
                                                    <i class="fa fa-envelope circle-icon-block circle-icon-block-md"></i>

                                                    <!-- Description -->
                                                    <p>support@example.com</p>

                                                </a>
                                            </div><!-- /End Info Block Container -->
                                        </div><!-- /End Info Block -->


                                    </div><!-- /End Widget Block Content -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </footer>
            <!-- Java Script Files
            ======================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        
        <script src="{{ site.baseurl }}/js/vendor/modernizr-custom.js"></script>
            
            <script type="text/javascript" src="/js/vendor/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/plugins/mobile/mobile.min.js"></script>
            <script type="text/javascript" src="/js/scripts.js"></script>
            <script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>
            
