<head>
	 <!-- Basic Info
        ======================================================================== -->
	    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="author" content="Graphicfort">
        <meta name="robots" content="index follow">
        <meta name="googlebot" content="index follow">
        <meta name="keywords" content="open data, st louis, stl, tech">
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		
        <!-- Mobile Configurations
        ======================================================================== -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!-- fav and icons for Mobile
        ======================================================================== -->
        <link rel="shortcut icon" href="{{ site.baseurl }}/images/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/images/icons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/images/icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/images/icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/images/icons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/icons/apple-touch-icon-180x180.png">

        <!-- Google Fonts
        ======================================================================== -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet" type="text/css">

        <!--  CSS Files
        ======================================================================== -->
        <link rel="stylesheet" href="{{ site.baseurl }}/js/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/social-icons.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/js/plugins/swiper/css/swiper.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/js/plugins/mediaelement/css/mediaelementplayer.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/js/plugins/fancybox/jquery.fancybox.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/js/plugins/wow/css/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/3.0.0/notie.min.css">
       <!--  Head JS Libs
        ======================================================================== -->

  <script>
  var settings = {
    BASE_URL: {{ site.baseurl | jsonify }},
    PAGE_URL: {{ page.url | jsonify }},
    REPO_BRANCH: {% if site.github.is_user_page %}"master"{% else %}"gh-pages"{% endif %},
    REPO_OWNER: {{ site.github.owner_name | jsonify }},
    REPO_NAME: {{ site.github.project_title | jsonify }},
    GITHUB_CLIENT_ID: {{ site.github_client_id | jsonify }},
    GATEKEEPER_HOST: {{ site.gatekeeper_host | jsonify }}
  }
  </script>
</head>
