

<div id="content-section-35" class="content-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-6 -->
                            <div class="col-md-6">
                                <!-- row -->
                                <div class="row">


                                    <!-- Title Block -->
                                    <div class="col-md-12 title-block">
                                        <!-- Title Block Container -->
                                        <div class="title-block-container">

                                            <!-- Title -->
                                            <h2>Events</h2>

                                            <!-- Line Separator -->
                                            <div class="line-separator"></div>
                                            

                                        </div><!-- /End Title Block Container -->
                                    </div><!-- /End Title Block -->


                                    <!-- Timeline Block -->
                                    <div class="col-md-12 timeline-block">
                                        <!-- Timeline Block Container -->
                                        <div class="timeline-block-container">
                                            </div>
                                            
                                            
                                            
                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                            <script src="http://momentjs.com/downloads/moment.min.js"></script>
                                            
                                            <script type="text/javascript">
                                                
                                                $.getJSON( "https://api.meetup.com/2/events?&sign=true&photo-host=public&group_urlname=Open-Data-STL&page=20&callback=?", function( data ) {
    
                                              		var max_events = 2

                                              		for( idx = 0; idx < max_events; idx ++ ) {
                                              			$(".timeline-block-container").append( stl_event( data['results'][idx] ) ); 
                                              		}

                                              		console.log( data['results'][0] )

                                              	})
                                                
                                              	function stl_event(data) { 

                                              		html = ''
                                              		html += '<div class="timeline-block-item">'
                                        	      		html += '<div class="timeline-block-item-container">'
                                        		      		html += '<div class="timeline-header">'
                                        			      		html += '<div class="image-block">'
                                        				      		html += '<div class="image-block-container">'
                                        				      			html +=  '<a href="#" title="Taking steps to stamp out cholera"><img src="http://openstl.org/images/logo2.png" alt="Block Image"></a>'
                                        				      		html += '</div>'
                                        			      		html += '</div>'
                                        		      		html += '</div>'
                                        		      		html += '<div class="timeline-footer">'
                                        			      		html += '<div class="date-block">'
                                        			      			html += '<span><i class="fa fa-clock-o" style="position: relative;"></i></span>'
                                        			      		html += '</div>'
                                                                html += '<small>' + moment.utc(data['time']).format('DD MMMM YYYY') + '</small>'
                                        			      		html += '<h4><a href="' + data['event_url'] +'" title="' + data['name'] +'">' + data['name'] +'</a></h4>'
                                        			      		html += '<p>' + data['description'].substr(0, 300) + '</p>'
                                        			      		html += '<a href="https://www.meetup.com/Open-Data-STL/events/psjxklywkbhc/" title="Demo" class="btn btn-gfort-sm btn-gfort-white btn-gfort wave-effect" style="margin-top: 0px;">RSVP</a>'
                                        		      		html += '</div>'
                                        	      		html += '</div>'
                                              		html += '</div>'
                                              		return html
                                              	}

                                            </script>
                                                
                                                
                                                
                                    </div><!-- /End Timeline Block -->


                                </div><!-- /End row -->
                            </div><!-- /End col-md-6 -->


                            <!-- col-md-6 -->
                            <div class="col-md-6">
                                <!-- row -->
                                <div class="row">


                                    <!-- Title Block -->
                                    <div class="col-md-12 title-block">
                                        <!-- Title Block Container -->
                                        <div class="title-block-container">

                                            <!-- Title -->
                                            <h2>FEATURED PROJECTS</h2>

                                            <!-- Line Separator -->
                                            <div class="line-separator"></div>

                                        </div><!-- /End Title Block Container -->
                                    </div><!-- /End Title Block -->


                                    <!-- Content Block -->
                                    <div class="col-md-6 col-sm-6 content-block">
                                        <!-- Content Block Container -->
                                        <div class="content-block-container" style="height: 448px;">

                                            <!-- Image Block -->
                                            <div class="image-block">
                                                <!-- Image Block Container -->
                                                <div class="image-block-container">
                                                    <img src="/images/content/content-courts.png" alt="Image Block">
                                                </div><!-- /End Image Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Title -->
                                            <h4>YourCourtsSTL</h4>

                                            <!-- Description -->
                                            <p>Simplifying the process of finding out where and when you need to be at court.</p>


                                            <!-- Buttons -->
                                            <a href="http://yourstlcourts.com" title="Demo" class="btn btn-gfort-sm btn-gfort-white btn-gfort wave-effect">Demo</a>

                                        </div><!-- /End Content Block Container -->
                                    </div><!-- /End Content Block -->


                                    <!-- Content Block -->
                                    <div class="col-md-6 col-sm-6 content-block">
                                        <!-- Content Block Container -->
                                        <div class="content-block-container" style="height: 448px;">

                                            <!-- Image Block -->
                                            <div class="image-block">
                                                <!-- Image Block Container -->
                                                <div class="image-block-container">
                                                    <img src="/images/content/content-911.png" alt="Image Block">
                                                </div><!-- /End Image Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Title -->
                                            <h4>Crime Mapping STL</h4>

                                            <!-- Description -->
                                            <p>Taking open public data that's typically hard to find or read, and mapping it for analysis and understanding.</p>


                                            <!-- Buttons -->
                                            <a href="https://github.com/OpenDataSTL/stl-crime-data" title="911 Data" class="btn btn-gfort-sm btn-gfort-white  btn-gfort wave-effect">Contribute</a>

                                        </div><!-- /End Content Block Container -->
                                    </div><!-- /End Content Block -->


                                </div><!-- /End row -->
                                <a href="https://github.com/opendatastl" title="Github" class="btn btn-gfort-lg btn-gfort wave-effect">Find more OpenSTL Projects on Github</a>
                                
                            </div><!-- /End col-md-6 -->
                            


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div>
