

<div id="content-section-35" class="content-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-6 -->
                            <div class="col-md-6">
                                <!-- row -->
                                <div class="row">


                                    <!-- Title Block -->
                                    <div class="col-md-12 title-block">
                                        <!-- Title Block Container -->
                                        <div class="title-block-container">

                                            <!-- Title -->
                                            <h2>Events</h2>

                                            <!-- Line Separator -->
                                            <div class="line-separator"></div>
                                            

                                        </div><!-- /End Title Block Container -->
                                    </div><!-- /End Title Block -->


                                    <!-- Timeline Block -->
                                    <div class="col-md-12 timeline-block">
                                        <!-- Timeline Block Container -->
                                        <div class="timeline-block-container">



                                            <!-- Timeline Block Item -->
                                            <div class="timeline-block-item">
                                                <!-- Timeline Block Item Container -->
                                                <div class="timeline-block-item-container">


                                                    <!-- Timeline Header -->
                                                    <div class="timeline-header">

                                                        <!-- Image Block -->
                                                        <div class="image-block">
                                                            <!-- Image Block Container -->
                                                            <div class="image-block-container">
                                                                <a href="#" title="Taking steps to stamp out cholera">
                                                                    <img src="/images/logo2.png" alt="Block Image">
                                                                </a>
                                                            </div><!-- /End Image Block Container -->
                                                        </div><!-- /End Image Block -->

                                                    </div><!-- /End Timeline Header -->


                                                    <!-- Timeline Footer -->
                                                    <div class="timeline-footer">

                                                        <!-- Date Block -->
                                                        <div class="date-block">
                                                            <!-- Date Block Container -->
                                                            <div class="date-block-container">
                                                                <span><i class="fa fa-clock-o"></i>24 July 2017</span>
                                                            </div><!-- /End Date Block Container -->
                                                        </div><!-- /End Date Block -->

                                                        <!-- Title -->
                                                        <h4><a href="#" title="Stamp out cholera">July: Monthly Hack Night</a></h4>

                                                        <!-- Description -->
                                                        <p>Join us for a monthly meetup with a focus on <strong>Economic Development</strong> with featured speaker <strong>XYZ</strong>.</p>
                                                        <a href="#" title="Demo" class="btn btn-gfort-sm btn-gfort-white btn-gfort wave-effect">RSVP</a>
                                                        
                                                    </div><!-- /End Timeline Footer -->


                                                </div><!-- /End Timeline Block Item Container -->
                                            </div><!-- /End Timeline Block Item -->


                                            <!-- Timeline Block Item -->
                                            <div class="timeline-block-item">
                                                <!-- Timeline Block Item Container -->
                                                <div class="timeline-block-item-container">


                                                    <!-- Timeline Header -->
                                                    <div class="timeline-header">

                                                        <!-- Image Block -->
                                                        <div class="image-block">
                                                            <!-- Image Block Container -->
                                                            <div class="image-block-container">
                                                                <a href="#" title="Energy equity for vulnerable children">
                                                                    <img src="/images/logo2.png" alt="Block Image">
                                                                </a>
                                                            </div><!-- /End Image Block Container -->
                                                        </div><!-- /End Image Block -->

                                                    </div><!-- /End Timeline Header -->


                                                    <!-- Timeline Footer -->
                                                    <div class="timeline-footer">

                                                        <!-- Date Block -->
                                                        <div class="date-block">
                                                            <!-- Date Block Container -->
                                                            <div class="date-block-container">
                                                                <span><i class="fa fa-clock-o"></i>7 Jan 2015</span>
                                                            </div><!-- /End Date Block Container -->
                                                        </div><!-- /End Date Block -->

                                                        <!-- Title -->
                                                       <h4><a href="#" title="Stamp out cholera">August: Monthly Hack Night</a></h4>

                                                       <!-- Description -->
                                                       <p>Join us for a monthly meetup with a focus on <strong>Transportation</strong> with featured speaker <strong>XYZ</strong>.</p>
                                                       <a href="#" title="Demo" class="btn btn-gfort-sm btn-gfort-white btn-gfort wave-effect">RSVP</a>

                                                    </div><!-- /End Timeline Footer -->


                                                </div><!-- /End Timeline Block Item Container -->
                                            </div><!-- /End Timeline Block Item -->


                                        </div><!-- /End Timeline Block Container -->
                                    </div><!-- /End Timeline Block -->


                                </div><!-- /End row -->
                            </div><!-- /End col-md-6 -->


                            <!-- col-md-6 -->
                            <div class="col-md-6">
                                <!-- row -->
                                <div class="row">


                                    <!-- Title Block -->
                                    <div class="col-md-12 title-block">
                                        <!-- Title Block Container -->
                                        <div class="title-block-container">

                                            <!-- Title -->
                                            <h2>FEATURED PROJECTS</h2>

                                            <!-- Line Separator -->
                                            <div class="line-separator"></div>

                                        </div><!-- /End Title Block Container -->
                                    </div><!-- /End Title Block -->


                                    <!-- Content Block -->
                                    <div class="col-md-6 col-sm-6 content-block">
                                        <!-- Content Block Container -->
                                        <div class="content-block-container" style="height: 448px;">

                                            <!-- Image Block -->
                                            <div class="image-block">
                                                <!-- Image Block Container -->
                                                <div class="image-block-container">
                                                    <img src="/images/content/content-048.jpg" alt="Image Block">
                                                </div><!-- /End Image Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Title -->
                                            <h4>YourCourtsSTL</h4>

                                            <!-- Description -->
                                            <p>Simplifying the process of finding out where and when you need to be at court.</p>


                                            <!-- Buttons -->
                                            <a href="http://yourstlcourts.com" title="Demo" class="btn btn-gfort-sm btn-gfort-white btn-gfort wave-effect">DONTATE</a>

                                        </div><!-- /End Content Block Container -->
                                    </div><!-- /End Content Block -->


                                    <!-- Content Block -->
                                    <div class="col-md-6 col-sm-6 content-block">
                                        <!-- Content Block Container -->
                                        <div class="content-block-container" style="height: 448px;">

                                            <!-- Image Block -->
                                            <div class="image-block">
                                                <!-- Image Block Container -->
                                                <div class="image-block-container">
                                                    <img src="/images/content/content-049.jpg" alt="Image Block">
                                                </div><!-- /End Image Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Title -->
                                            <h4>Crime Mapping STL</h4>

                                            <!-- Description -->
                                            <p>Taking open public data that's typically hard to find or read, and mapping it for analysis and understanding.</p>


                                            <!-- Buttons -->
                                            <a href="https://github.com/OpenDataSTL/stl-crime-data" title="Donate" class="btn btn-gfort-sm btn-gfort-white  btn-gfort wave-effect">Contribute</a>

                                        </div><!-- /End Content Block Container -->
                                    </div><!-- /End Content Block -->


                                </div><!-- /End row -->
                                <a href="#" title="Donate" class="btn btn-gfort-lg btn-gfort wave-effect">Find more OpenSTL Projects on Github</a>
                                
                            </div><!-- /End col-md-6 -->
                            


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div>
