            <div id="content-section-5" class="content-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h2>WHAT WE DO</h2>

                                    <!-- Description -->
                                    <p>As a volunteer community, we work with local governments to enhance the quality of like for residents through open access to data and technology.</p>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-1">
                                <!-- Content Block Container -->
                                <div class="content-block-container" style="height: 396px;">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">

                                            <!-- Image -->
                                            <img src="images/content/content-005.jpg" alt="Image Block">

                                            <!-- Ribbon Block -->
                                            <div class="ribbon-block ribbon-block-style-1">
                                                <h4>Open Data & Build Apps</h4>
                                            </div><!-- /End Ribbon Block -->

                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Description -->
                                    <p>Researchers, journalists, and technologists can use this freely available data to find insights, run analyses, or build applications.</p>

                                    <!-- Buttons -->
                                    <a href="/datasets" title="Read More" class="btn btn-gfort-link wave-effect">Explore the open data (right here)</a>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-1">
                                <!-- Content Block Container -->
                                <div class="content-block-container" style="height: 396px;">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">

                                            <!-- Image -->
                                            <img src="images/content/content-006.jpg" alt="Image Block">

                                            <!-- Ribbon Block -->
                                            <div class="ribbon-block ribbon-block-style-1">
                                                <h4>Create a Community</h4>
                                            </div><!-- /End Ribbon Block -->

                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Description -->
                                    <p>What's special about this work is that it's not only importnat for our communities -- but it's also fun. We have monthly meetups with speakers, pizza (and yes beer).</p>

                                    <!-- Buttons -->
                                    <a href="#" title="Read More" class="btn btn-gfort-link wave-effect">Join Our Meetup Group</a>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-1">
                                <!-- Content Block Container -->
                                <div class="content-block-container" style="height: 396px;">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">

                                            <!-- Image -->
                                            <img src="images/content/content-007.jpg" alt="Image Block">

                                            <!-- Ribbon Block -->
                                            <div class="ribbon-block ribbon-block-style-1">
                                                <h4>Make STL Work Better</h4>
                                            </div><!-- /End Ribbon Block -->

                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Description -->
                                    <p>Because our community does its work in partnership with local government leaders, our apps, research, and findings can -- have had -- a real impact on policy.</p>

                                    <!-- Buttons -->
                                    <a href="#" title="Read More" class="btn btn-gfort-link wave-effect">Read Stories of Impact on the Blog</a>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div>