            <div id="content-section-5" class="content-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h2>WHAT WE DO</h2>

                                    <!-- Description -->
                                    <p>Release bandwidth user experience research &amp; development branding termsheet business plan advisor analytics ecosystem entrepreneur freemium.</p>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-1">
                                <!-- Content Block Container -->
                                <div class="content-block-container" style="height: 396px;">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">

                                            <!-- Image -->
                                            <img src="images/content/content-005.jpg" alt="Image Block">

                                            <!-- Ribbon Block -->
                                            <div class="ribbon-block ribbon-block-style-1">
                                                <h4>Web Design</h4>
                                            </div><!-- /End Ribbon Block -->

                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Description -->
                                    <p>Customer ecosystem client validation stock seed money iteration backing crowdsource research &amp; development founders.</p>

                                    <!-- Buttons -->
                                    <a href="#" title="Read More" class="btn btn-gfort-link wave-effect">Read More</a>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-1">
                                <!-- Content Block Container -->
                                <div class="content-block-container" style="height: 396px;">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">

                                            <!-- Image -->
                                            <img src="images/content/content-006.jpg" alt="Image Block">

                                            <!-- Ribbon Block -->
                                            <div class="ribbon-block ribbon-block-style-1">
                                                <h4>Development</h4>
                                            </div><!-- /End Ribbon Block -->

                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Description -->
                                    <p>User experience branding incubator long tail freemium leverage traction ecosystem market ramen return on investment.</p>

                                    <!-- Buttons -->
                                    <a href="#" title="Read More" class="btn btn-gfort-link wave-effect">Read More</a>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Content Block -->
                            <div class="col-md-4 col-sm-6 content-block content-block-style-1">
                                <!-- Content Block Container -->
                                <div class="content-block-container" style="height: 396px;">

                                    <!-- Image Block -->
                                    <div class="image-block">
                                        <!-- Image Block Container -->
                                        <div class="image-block-container">

                                            <!-- Image -->
                                            <img src="images/content/content-007.jpg" alt="Image Block">

                                            <!-- Ribbon Block -->
                                            <div class="ribbon-block ribbon-block-style-1">
                                                <h4>Analysis</h4>
                                            </div><!-- /End Ribbon Block -->

                                        </div><!-- /End Image Block Container -->
                                    </div><!-- /End Image Block -->

                                    <!-- Description -->
                                    <p>Strategy supply chain responsive web design crowdfunding assets pivot handshake beta startup lean startup equity.</p>

                                    <!-- Buttons -->
                                    <a href="#" title="Read More" class="btn btn-gfort-link wave-effect">Read More</a>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div>